$text-black-color: #000000;
$text-gray-color: #00000098;
$border-gray-color: #D7DDE9;

$border-light-gray-color: #EAECF0;

$text-white-color: #FFFFFF;
$button-cancel-color: #E7EEFB;

$icon-color: #B0BBD1;

$hover-task-color: #F7F9FD;

$font-size-base: 16px;
$spacing-base: 1rem;